.active {
	background-color: darkblue;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
	font-weight: bold;
}

nav ul li a:not(.active):hover {
	background-color: #172554;
}

nav div {
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
}
